Solution/packages/
Solution/Solution.BS/bin/
Solution/Solution.BS/obj/
Solution/Solution.DAL.EF/obj/
Solution/Solution.DAL.Repository/bin/
Solution/Solution.DO/obj/
Solution/Solution.API.W/bin/
Solution/Solution.API.W/obj/
